@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.page{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    font-weight: 400;
}



nav{
  background: #A82121;
  height: 120px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 110px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #9b1f1f;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 100px;
    left: -120%;
    text-align: center;
    transition: all .6s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.section2{
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

article{
    float: left;
    width: 100%;
    height: 18vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(255, 255, 255);
    background-color: grey;
}

.szkolenia-link{
  color: black;
}

.grid-container {
    display: grid;
    grid-auto-columns: 25%;
    background-color: #ccc;
    padding: 15px;
  }

.grid-container > div {
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;
    word-wrap: break-word;
}


.item1 { grid-area: 1 / 1; }
.item2 { grid-area: 1 / 2; }
.item3 { grid-area: 1 / 3; }
.item4 { grid-area: 1 / 4; }


.about-article{
    float: left;
    min-height: fit-content;
    width: 100%;
    background-color: #ccc;
    color: rgb(53, 46, 46);
}

.contact-article{
    float: left;
    width: 75%;
    color: rgb(53, 46, 46);
    background-color: #ccc;
    padding-left: 25vw;
    padding-top: 50px;
    padding-bottom: 35px;
}

.contact-article-h1{
    font-size: 20px;
    padding-left: 8vw;
}

.contact-article-map{
    padding-left: 7vw;
    padding-top: 5vh;
    width: 35vw;
    height: 50vh;
    
}




.top-area{
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  display: inline-block;
  background: gray;
  height: 20vh;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: 700;
}


.article-p{
    font-size: 30px;
    padding-left: 150px;
}


section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 32vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }

  
  
  .footer-distributed {
    background-color: #222222;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
