@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.page{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    font-weight: 400;
}



header{
    background-color: rgb(168, 33, 33);
    
}

header::after{
    content: '';
    display: table;
    clear: both;
}



.logo{
    float: left;
    padding: 20px;
    padding-left: 5vw;
}




nav{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0 35px;
    padding-top: 50px;
    
    position: relative;
}

nav a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover{
    color: rgb(255, 255, 255);
    
}

.nav-side{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 450px;
    background-color: #4f5253;
    box-sizing: border-box;
    padding: 20px;
    color: #fff;
    margin-left: -450px;
    transition: margin 500ms ease-in-out;
    
}


.nav-side.nav-open{
    margin-left: 0;
    box-shadow: 10px 5px 20px rgba(0,0,0, .1)
    
}


.nav-toggle{
    position: absolute;
    right: -50px;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #172f43;
    line-height: 45px;
    text-decoration: none;
    text-align: center;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 10px 5px 20px rgba(0,0,0, .1)
    
}

.nav-toggle:before{
    content: "\2192";
    font-weight: 1000;
    color: #fff;
}

.nav-side.nav-open .nav-toggle:before{
    content: "\2190"
}

article{
    float: left;
    width: 100%;
    height: 18vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(255, 255, 255);
    background-color: grey;
}

.grid-container {
    display: grid;
    grid-auto-columns: 25%;
    background-color: #ccc;
    padding: 10px;
  }

.grid-container > div {
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;
    word-wrap: break-word;
}

.item1 { grid-area: 1 / 1; }
.item2 { grid-area: 1 / 2; }
.item3 { grid-area: 1 / 3; }
.item4 { grid-area: 1 / 4; }


.about-article{
    float: left;
    height: 750px;
    width: 100%;
    background-color: #ccc;
    color: rgb(53, 46, 46);
}

.contact-article{
    float: left;
    height: 750px;
    width: 75%;
    color: rgb(53, 46, 46);
    background-color: #ccc;
    padding-left: 25%;
    padding-top: 50px;
    padding-bottom: 35px;
}

.contact-article-h1{
    font-size: 25px;
    padding-left: 26%;
    padding-bottom: 20vw;
}

.contact-article-map{
    padding-left: 12%;
    height: 40vh;
    width: 35vw;
}






.article-h1{
    font-size: 60px;
    text-align: center;
}

.article-p{
    font-size: 30px;
    padding-left: 150px;
}


section {
    width: 100%;
    display: inline-block;
    background: #ccc;
    height: 20vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
  }

  
  
  .footer-distributed {
    background-color: #222222;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
